[submodule "submodule-name"]
    path = /Users/Jeunese/Documents/Personal/3HobbiesandInterests/Writing/InformationDev/GitHub/jeunese.github.io
    url = https://github.com/Jeunese/jeunese.github.io.git
